{% extends 'usernav.html' %}
 {% load static %}
 {% block body %}

 {% ifequal error "no" %}
 <script>
   alert('Password Changed Sucssfully');
   window.location=('{% url 'logout' %}');
 </script>
 {% endifequal %}
 {% ifequal error "yes" %}
 <script>
   alert(' Invalid Login Credentials , Try Again');

 </script>
 {% endifequal %}
 <style media="screen">
   body{
     background:linear-gradient(-30deg,#03a954 0%,#3a78b7 50%,#262626 50%,#607d8b 100%);
   }
 h2{
  width:660px;
  margin-left:350px;
  margin-top:100px;
   color:yellow;
  background-color:black;

}
   #my{

     padding:50px;
     width:10px;
     height:480px;
     display:flex;
     justify-content:center;
     align-item:center;
     border-radius:6px;
     box-shadow:0 5px 35px rgba(0,0,0,0.2);

   }
   #i{
     padding-top:-100px;
     width:660px;
     height:300px;
     padding:20px;
     border-radius:6px;
     box-shadow:0 5px 35px rgba(0,0,0,0.2);
     margin-top:-40px;

   }
 </style>
 <h2 class="text-center ">CHANGE PASSWORD</h2>
 <div class="container mt-2  animate__animated animate__animate__animated animate__fadeInBottomLeft"id="my" >
  <div class="row">

    <div class="col-sm-12" >

      <br>
      <form method="post" id="i" >{% csrf_token %}
      <label>Old Password</label>
          <input type="password"  class="form-control" name="old" placeholder="Enter Old Password">
      <label>New Password</label>
          <input type="password"  class="form-control" name="new" placeholder="Enter New Password">
      <label>Confirm Password</label>
          <input type="password" class="form-control"  name="confirm" placeholder="Re Enter New Password">
          <button type="submit" class="btn btn-warning mt-2" name="button">SUBMIT</button><br>
      </form>
    </div>
  </div>
 </div>
 {% endblock %}
