{% extends 'usernav.html' %}
 {% load static %}
 {% block body %}

 {% ifequal error "no" %}
 <script>
   alert('Password Changed Sucssfully');
   window.location=('{% url 'logout' %}');
 </script>
 {% endifequal %}
 {% ifequal error "yes" %}
 <script>
   alert(' Invalid Login Credentials , Try Again');

 </script>
 {% endifequal %}
 <div class="container mt-5">
  <div class="row">
    <div class="col-sm-6">
     <img src="{% static 'images/sky.png' %}" style="width:100%;height:400px;">

    </div>
    <div class="col-sm-6">
      <h2 class="text-center">CHANGE PASSWORD</h2>
      <hr>
      <form method="post">{% csrf_token %}
      <label>Old Password</label>
          <input type="password" class="form-control" name="old" placeholder="Enter Old Password">
      <label>New Password</label>
          <input type="password" class="form-control" name="new" placeholder="Enter New Password">
      <label>Confirm Password</label>
          <input type="password" class="form-control" name="confirm" placeholder="Re Enter New Password">
          <button type="submit" class="btn btn-danger mt-2" name="button">SUBMIT</button>
      </form>
    </div>
  </div>
 </div>
 {% endblock %}
