{% extends 'usernav.html' %}
 {% load static %}
 {% block body %}


  <style media="screen">

    body{
      background:linear-gradient(-30deg,#03a954 0%,#3a78b7 50%,#262626 50%,#607d8b 100%);
    }

    *{
      margin:0;
      padding:0;
      box-sizing:border-box;
    }
     section{

      display:flex;
      justify-content:center;
      align-item:center;
    }
    #my{

      padding:50px;
      width:660px;
      height:480px;
      display:flex;
      justify-content:center;
      align-item:center;
      border-radius:6px;
      box-shadow:0 5px 35px rgba(0,0,0,0.2);

    }
#i{
  padding-top:-100px;
  width:660px;
  height:420px;
}
h2{
  width:660px;
  margin-left:350px;
  margin-top:100px;
}
  </style>
<h2 class="text-center"style="color:yellow;background-color:black";>UPLOAD NOTES</h2>

   <section>

  <div class="container-fluid mt-4 animate__animated animate__animate__animated animate__bounceInLeft" id="my">
   <div class="row">
     <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 " id="i">
       <form method="post" enctype="multipart/form-data">{% csrf_token %}
       <label>Branch</label>
         <select class="form-control" name="branch" >
           <option value="">---Select Branch---</option>
           <option value="Computer Science">Computer Science</option>
           <option value="Mechanical">Mechanical</option>
           <option value="Civil">Civil</option>
           <option value="Electrical">Electrical</option>
           <option value="Electronics">Electronics</option>
         </select>
       <label>Subject</label>
           <input type="text" class="form-control" name="subject" placeholder="Enter Subject">
       <label>Notes File</label>
           <input type="file" class="form-control" name="notesfile" >
       <label>File Type</label>
       <select class="form-control" name="filetype" >
         <option value="">---Select File Type---</option>
         <option value="PDF">PDF</option>
         <option value="PPT">PPT</option>
         <option value="DOC/DOCX">DOC/DOCX</option>
         <option value="TXT">TXT</option>
         <option value="Image">Image</option>
         <option value="ZIP/RAR">ZIP/RAR</option>
       </select>

       <label>Description</label>
       <textarea class="form-control" name="description">

       </textarea>
           <button type="submit" class="btn btn-warning mt-2" name="button">SUBMIT</button>
       </form>
     </div>

   </div>
  </div>
  </section>

 {% ifequal error "no" %}
 <script>
   alert('Notes Uploaded Sucssfully');

 </script>
 {% endifequal %}
 {% ifequal error "yes" %}
 <script>
   alert('Something went wrong , Try Again');

 </script>
 {% endifequal %}
 {% endblock body %}
